---
const year = new Date().getFullYear();
---

<footer>
  <div class="container footer-inner">
    <span>© {year} Dileep Konidela</span>
    <div class="footer-links">
      <a href="https://github.com/dileepkonidela" target="_blank" rel="noopener">GitHub</a>
      <a href="https://twitter.com/dileepkonidela" target="_blank" rel="noopener">Twitter</a>
      <a href="/blog">Writing</a>
    </div>
  </div>
</footer>
